#views-live-preview .slider-wrapper {
  max-width: 1000px;
  width: auto;
}
.slider-wrapper {
  position: relative;
  width: auto;
}
.slider-wrapper .slide-content img {
  max-width: 100%;
}
.lSSlideOuter .lSPager.lSGallery img {
  width: 100%;
}
.lSSlideOuter .lSPager.lSGallery {
  margin: 0 auto;
}